
# Astro Runtime default dependencies...
apache-airflow-providers-http
apache-airflow-providers-amazon
pandas
requests
boto3
pyspark
matplotlib
seaborn
jupyter
tqdm

astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy